<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Terminos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Términos y Condiciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Uso de la Aplicación</h2>
      <p>
        [En la aplicacion tu al darle ver video te redijira a la pagina de youtube en esta se encontrara la preparacion 
        del platillo elegido,tendra una vista donde los usuarios podran subir sus imagenes de sus comidas y poder poner la 
        reseta ]
      </p>
      <h2>Contenido</h2>
      <p>
        [La aplicacion movil Mi Libreo de Recetas esta tiene la funcion de poder enceñar a cocinar a las personas por medido 
        de videos o recetas,gracias a esta app el usuario podra facilitarse a la hora de cocinar,en la aplicacion tendremos
        recetas de comidas como tanbien recetas de postres etc. 
        ]
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
